<!-- Generated template for the ResBlock5Component component -->
<div class="block5-container-bg">
  <div class="f-res-name">{{resname}}</div>
  <div class="f-res-icon">
    - <ion-icon ios="ios-bonfire" md="md-bonfire"></ion-icon> -
  </div>
  <div class="f-res-address">
    Address: {{address}}
  </div>
  <div class="f-res-phone">
    Phone: {{phone}}
  </div>
  <div class="f-res-hotline">
    Hotline: {{hotline}} - Service report: {{service_support}}
  </div>
  <div class="f-res-email">
    Email: {{email}}
  </div>

  <div class="f-res-name margin-top" >
      Follow along
  </div>

  <div class="follow-icon">
    <a href="#">
        <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
    </a>

    <a href="#">
        <ion-icon ios="logo-instagram" md="logo-instagram"></ion-icon>
    </a>
   
  </div>
</div>
