page-home {
  .padding {
    padding: 30px 20px;
  }

  .res-img-header {
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/imgs/tetbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title-resname{
      color: map-get($map: $colors, $key: yellow);
      // text-transform: uppercase;
      padding-top: 50px;
      font-size: 7rem;
      font-weight: bold;
      // text-transform: uppercase;
      font-family: 'Charm', cursive;
    }
    .title-img{
      text-align: center;
      img{
        // max-width: 50%;
      }
    }

    .title-adress{
      font-family: 'Cabin', sans-serif;
      color: #f2f2f2;
      font-size: 2.8rem;
    }
  }

  

  ion-content.content {
    // background-image: url("../assets/imgs/block-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
  }

}
