page-home {
  .padding {
    padding: 30px 20px;
  }

  .res-img-header {
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/imgs/tetbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;


    .title-resname{
      color: white;
      // text-transform: uppercase;
      padding-top: 50px;
      font-size: 5rem;
      font-weight: bold;
      font-family: 'Charm', cursive;
    }
  }

  

  ion-content.content {
    // background-image: url("../assets/imgs/block-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
  }



}
