res-block1 {
  .res-block1-b1 {
    // height: 100vh;
    // padding: 8px 4px;
    // margin: 15px;
  }

  .res-block1-b1-left {
    .big-font {
      font-size: 40px;
      margin-bottom: 20px;
    }

    .res-infor {
      // color: rgb(212, 248, 10);
      font-size: 18px;
      width: 100%;
      text-align: left;
      padding: 20px 16px 40px 0;
      white-space: pre-line;
      line-height: 26px;
    }

  }

  .background-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(60vh - 40px);
  }


  .text-overlay {
    position: relative;
    font-size: 1.4rem;
  }

  .showing-items {
    position: absolute;
    background: rgba($color: black, $alpha: 0.8);
    color: rgb(212, 248, 10);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 40px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: none;
    z-index: 99;
    padding: 30px;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }

  .text-overlay:hover {
    color: rgb(212, 248, 10);

    .showing-items {
      display: flex;
    }
  }

  .res-block1-b2 {
    // margin: 15px;

  }

  .hover-time {
    font-size: 20px;
    font-family: 'Times New Roman';
  }

  .res-hover1 {}

  .res-logo {
    width: 30%;
    text-align: center;
    margin: auto;
  }

  .res-block1-b1-right-b1 {
    &.left {
      padding-left: 0;
    }

    &.right {
      padding-right: 0;
    }
  }


}
