page-mana-res {

  th {
    background: map-get($map: $colors, $key: green);
    padding: 14px 10px;
  }

  td {
    padding: 14px 10px;

  }
  .w-32{
      width: 32px;
  }
  .white-bg{
      background: whitesmoke;
  }
  
}
