page-viewreport {
  .v-title {
    font-size: 3rem;
    font-weight: bold;
    color: #222;
  }
  .v-container{
    padding: 20px;
  }

 

  .table {
    color: #000;
    border-width: 1px;
    position: relative;
    border-style: solid;
    margin: 15px;


  }
  th{
    border-right: 1px solid black;
    height: 50px;

}
td{
    border: 1px solid black;
    height: 50px;

}
}

.v-title {
  font-size: 3rem;
  font-weight: bold;
  color: #222;
}
.v-container{
  padding: 20px;
}
