res-block3 {
  .res-block3{
    // margin: 15px;
  }
.res-infor{
    height: 500px;
    top: 50%;   
      left: 0;
      color: rgb(212, 248, 10);
      font-size: 20px;
      width: 100%;
      height: 100%;
      // padding: 80px 40px 80px 40px;
      font-family:'Courier New';

}
.res-img{
  background-image: url("../assets/imgs/res-bl3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover; 
  height: 400px;
  width: 100vw;
} 
.img-chef-toque{
  top: 0;
  left: 0;
  height:70px ;
}
}
