<div class="res-block3 ">
  <ion-row class="res-img no-padding">
  </ion-row>
  <ion-row class="main-content">
    <ion-col col-6>
      <div class="res-infor">
          <img class="img-chef-toque" src="./assets/imgs/res-chef-toque.png" alt="">
         <div class="res-name">Không gian lãng mạn-Ẩm thực châu Âu</div> 
        </div>
    </ion-col>
    <ion-col col-6 class="col-content">
      <ion-row>
        <div class="res-infor">
          Là nơi hò hẹn của những cặp đôi hay những bữa ăn gia đình ấm cúng,
          với các món ăn được làm từ nguyên liệu tươi ngon nhất,
          chắc chắn sẽ đem lại cho quý thực khách những giây phút
          tuyệt vời bên gia đình và người thương.
        </div>
      </ion-row>
      <ion-row class="res-infor">
        Không gian yên tĩnh cho những cuộc hẹn hò lãng mạn hoặc bạn có thể lựa chọn
        không gian ngoài trời để có cảm giác thư giãn nhất khi dùng bữa tại đây.
        với đội ngũ nhân viên đông đảo, nhiệt tình, sẵn sàng phục vụ quý khách
      </ion-row>
    </ion-col>
  </ion-row>
</div>
