res-block3 {
.res-infor{
    height: 500px;
    top: 50%;   
      left: 0;
      color: black;
      font-size: 20px;
      width: 100%;
      height: 100%;
      padding: 80px 40px 80px 40px;
      font-family: 'Lucida Handwriting';
}
}
