<!-- Generated template for the ResBlock3Component component -->
<div>
 <ion-row>
    <img src="./assets/imgs/res-block2-b2.jpg" alt="">
 </ion-row>
 <ion-row>
   <ion-col col-6>
     <div class="res-infor">
      nổi tiếng với ẩm thực Á- Âu với 35 đầu bếp tay nghề cao,
       trải qua hơn 3 năm hoạt động
       là điểm đến của giới sành ăn với những món ngon từ dân dã đến 
       đặc trưng trên bàn nhậu Á – Âu đều có thể tìm thấy tại đây
     </div>
   </ion-col>
   <ion-col col-6>
     <ion-row>
       <div class="res-infor">
      Là nơi hội tụ của các chương trình giải trí hấp dẫn, nơi thực khách có thể hòa mình vào những vũ điệu nóng bỏng của những cô nàng dancer xinh đẹp và vô cùng bốc lửa. 
      Cùng với đó là các chương trình tạp kỹ đặc sắc như: song tấu, múa cột, xiếc rắn, múa lửa, đu dây trên không… sẽ khiến các chiến binh không thể rời mắt.
    </div> 
    </ion-row>
     <ion-row class="res-infor">
       Không gian yên tĩnh cho những cuộc hẹn hò lãng mạn hoặc bạn có thể lựa chọn không gian ngoài trời để có cảm giác thư giãn nhất khi dùng bữa tại đây. 
       với đội ngũ nhân viên đông đảo, nhiệt tình, sẵn sàng phục vụ quý khách
     </ion-row>
   </ion-col>
 </ion-row>
</div>