<ion-content padding>
    <ion-header>
        <ion-toolbar>
          <ion-title>Sơ đồ nhà hàng</ion-title>
          <!-- <ion-buttons right>
            <button ion-button icon-left class="add-btn" (click)="onClickAdd()">
              <ion-icon name="add"></ion-icon>
              Thêm mới
            </button>
          </ion-buttons>
       -->
        <!-- </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="body-container-map">
          <div *ngFor="let item of mArrayFloorModels" class="floor-model-container">
              <div class="floor-name" (click)="onClickFloor(item.floor)" tappable>{{item.floor.name}}</div>
              <ion-row>
                <ion-col col-6 >
                  <div class="table-title">Bàn</div>
                  <ion-row align-items-center>
                    <ion-col col-2 *ngFor="let table of item.tables" (click)="onClickTable(table)" tappable>
                      <div class="table-item" [class.isBlock]="table.status == 2">{{table.name}}</div>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col col-6>
                  <div class="table-title">Khu vực</div>
                  <ion-row align-items-center>
                      <ion-col col-2 *ngFor="let area of item.areas" (click)="onClickArea(area)" tappable>
                        <div class="table-item " [class.isBlock]="area.status == 2">{{area.name}}</div>
                      </ion-col>
                    </ion-row>
                </ion-col>
              </ion-row>
          </div>
           
        </div> -->
        <ion-row class="first-flood">
          <div class="table-list"></div>
          <div class="table-list"></div>
          <div class="table-list"></div>
          <div class="table-list"></div>
          <div class="table-list"></div>
          <div class="table-list"></div>
        </ion-row>
      
</ion-content>
