<div class="a-menu">
  <div class="res-logo">
    <img src="./assets/imgs/admin.png">
  </div>
  <div class="mUserName">{{mUser.name}}</div>
  <div class="mana">
    <a href="" class="a-menu-item">
      Trang chủ
    </a>
  </div>
  <div class="mana" [class.selected]="mSelectedIndex == 1">
    <a href="#/viewreport" class="a-menu-item">
      Xem báo cáo
    </a>
  </div>
  <div class="mana" [class.selected]="mSelectedIndex == 2">
    <a href="#/mana-res" class="a-menu-item">
      QL nhà hàng
    </a>
  </div>
  <div class="mana" [class.selected]="mSelectedIndex == 3">
    <a href="#/mana-vendor-res" class="a-menu-item">
      QL chuỗi nhà hàng
    </a>
  </div>
  <div class="mana" [class.selected]="mSelectedIndex == 4">
    <a href="#/mana-user" class="a-menu-item">
      QL người dùng</a>
  </div>

</div>
