<div class="menu"> 
    <a href="" class="res-logo">
      <img class ="img"src="./assets/imgs/res-logo-yellow.png">
   </a>
 <div class="mana">
 <a href="" class="menu-item">
   Trang chủ
 </a>
 </div>
 <div class="mana">
    <a href="#/viewreport" class="menu-item">
        Xem báo cáo
      </a>
 </div>
 <div class="mana">
    <a href="#/mana-res"class="menu-item">
        Quản lý nhà hàng
      </a>
 </div>
 <div class="mana">
    <a href="#/mana-vendor-res"class="menu-item">
        Quản lý chuỗi nhà hàng
      </a>
 </div>
 <div class="mana">
   <a href="#/mana-user" class="menu-item">
  Quản lý người dùng</a>
 </div>

</div>