adminheader {

  .img{
    width: 80px;
    margin: 15px 15px;
  }
  .menu {
    height: 100vh;
    background: rgba($color: rgb(153, 204, 255), $alpha: 0.6);
  }
  .mana{
      margin-top: 50px;
  }

  .menu-item {
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    color: rgb(0, 102, 153);
  }
}
