adminheader {
  .menu {
    width:70%;
    // background: rgba($color: rgb(45, 211, 45), $alpha: 0.6);
    height: 100vh;
  }
  .mana{
      margin-top: 50px;
  }

  .menu-item {
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;;
  }
}
