page-discount {

  .col {
    max-width: 100%;
    padding: 40px;
  }

  .combo-container {
      padding-top: 50px;
  }
  .banner-discount{
    // height: 100vh;
  }


  .title-discount {
    font-size: 3.6rem;
    font-family: Georgia, 'Times New Roman';
    color: saddlebrown;
    text-align: center;
    font-size: 3.2rem;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
  }
}
