<div class="res-block2">

  <ion-row  class="res-row">
    <ion-col col-6 no-padding>
      <ion-row>
        <ion-col col-6 *ngFor="let imgUrl of imgs">
          <!-- <img [src]="imgUrl" alt=""> -->
          <div class="background-img no-padding" [ngStyle]="{'background-image': 'url('+imgUrl+')'}"></div>

        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col col-6 class="col-content">
      <div class="name-infor">
        Món ăn đặc sắc
      </div>
      <div class="res-content">
        Đưa thực khách trải qua một chuyến du ngoạn ẩm thực từ Á sang Âu,
        tới tất cả các đất nước xa xôi để thưởng thức những món ăn đặc trưng được chế biến tinh tế và hảo hạng mà bạn
        khó lòng từ chối.
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="res-service" align-items-center>
    <ion-col col-6 >
      <div class="col-content">
          <div class="name-infor">Phục Vụ Chuyên Nghiệp</div>
          <div class="res-content">
            Quý khách sẽ thực sự bất ngờ vì giá dịch vụ, sản phẩm tại Delicious 
            vô cùng hấp dẫn trong một không gian đẹp và các món ăn đều ngon tuyệt vời
          </div>
      </div>
    </ion-col>
    <ion-col col-6 class="col-img">
      <img src="./assets/imgs/chef.jpg" alt="">
    </ion-col>

  </ion-row>
</div>
 