res-block2 {
  .background-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(40vh - 40px);
  }
  .res-logo {
    width: 50%;
    text-align: center;
    margin: auto;
  }
  .res-inforfood {
    color:black;
    font-size: 20px;
    // padding: 10px;
  }
  .res-row{
    padding: 30px;
  }
  .name-infor{
    font-family: 'Times New Roman';
    font-size: 40px;
    text-transform: uppercase;
    color: black;
    text-align: center;
    marker-end: 30px; 
  }
}
