<!-- Generated template for the ResBlock2Component component -->
<div>
 <!-- <ion-row>
   <ion-col col-6>
     <ion-row class="res-block1-img">
       <ion-col col-6 class="res-block1-img1">
         <img src="{{url1}}" alt="">
       </ion-col>
       <ion-col col-6 class="res-block1-img2">
          <img src="{{url2}}" alt="">
       </ion-col>
       <ion-col col-6  class="res-block1-img3">
          <img src="{{url3}}" alt="">
       </ion-col>
       <ion-col col-6  class="res-block1-img4">
          <img src="{{url4}}" alt="">
       </ion-col>
     </ion-row>
   </ion-col>
   <ion-col col-6></ion-col>
 </ion-row> -->
</div>