page-menu {
  ion-content.content {
    background-color: white;
    // margin-top: 50px;
  }

  .title {
    color: black;
    padding: 20px;
    font-size: 20px;

    &.selected {
      color: black;
      font-size: 30px;
    }
  }

  .itemname {
    color: black;
    font-size: 15px;

  }

  .description {
    color: gray;
    margin-top: 10px;

  }

  .detail {
    padding: 20px;
    width: 500px;
  }

  .itemname:hover {
    color: orangered;
  }

  .col-title {
    left: 50px;
  }

  .res-menu {
    min-height: 100vh;
    padding-top: 50px;
    background-image: url("../assets/imgs/forkandknife.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

  }

  .res-food-detail {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;

  }

  .res-menu-food {
    background: white;
  }

  .background-food-img {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .row-1 {
    // height: 100vh;
    // width: 100vw;
    // background-image: url("../assets/imgs/5.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    // position: relative;
  }

  .div-slogan {
    font-size: 3.6rem;
    padding-top: 32px;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
    padding-left: 10px;
  }

  .name-menu {
    text-align: center;

    img {
      max-width: 50%;
    }
  }

  // .background-image {
  //   background-size: cover;
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   height: calc(70vh - 60px);
  // }

  .row3 {
    padding-bottom: 32px;
    overflow: hidden;
    .background-img {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 200px;
      border-radius: 5px;
    }

    //   ::-webkit-scrollbar { 
    //     display: none; 
    // }

  }
  .row-dot-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;
    .dot{
      height: 18px;
      width: 18px;
      background: black;
      border-radius: 50%;
      opacity: .2;
      margin: 0 10px;
      &.selected{
        opacity: 1;
      }
    }
  }
}
