<ion-content>
  <res-header></res-header>
  <div class="menu-food">
    <ion-row justify-content-center class="res-menu">
      <ion-col col-12>
        <div class="name-menu">
          <img src="./assets/imgs/web+buttons-01.png" alt="">
        </div>
      </ion-col>
      <ion-col col-3 class="col-title">
        <div class="title" [class.selected]="item.id == mMenuSelect.id " *ngFor="let item of menus" (click)='onClickMenuItems(item)'>
          {{item.title}}
        </div>
      </ion-col>

      <ion-col col-6 class="res-food-detail">
        <div class="detail" *ngFor="let item of mMenuSelect.arrayitems">
          <div class="itemname">
            {{item.name}}
            <span float-right>{{item.price}}</span>
          </div>
          <div class="description">
            {{item.description}}
          </div>
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col col-1>
        <button ion-button clear color="dark" (click)="onNextSlide()">
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row> -->
  </div>

  <div class="div-slogan">Món Ăn Nổi Bật</div>

  <ion-row nowrap align-items-center id="rowFoodID" class="row3">
    <ion-col col-3 *ngFor="let item of arrayImages">
      <div class="background-img image-container" [ngStyle]="{'background-image': 'url('+item+')'}"></div>
    </ion-col>
  </ion-row>

  <div class="row-dot-container" >
    <div class="dot" [class.selected]="mCurrentIndex == 0" (click)="onClickDot(0)" tappable></div>
    <div class="dot" [class.selected]="mCurrentIndex == 1" (click)="onClickDot(1)" tappable></div>
    <div class="dot" [class.selected]="mCurrentIndex == 2" (click)="onClickDot(2)" tappable></div>
  </div>

  <res-block5></res-block5>
  <order-btn-fab></order-btn-fab>
</ion-content>
