<!-- Generated template for the ResHeaderComponent component -->
<div>
  <ion-row align-items-center justify-content-center class="menu-header-container">

    <div class="res-right">
      <a href="" class="res-logo">
        <img src="./assets/imgs/res-logo.png">
      </a>
      <a href="" class="res-menu-item">
        <span>Giới Thiệu</span>
      </a>
      <a href="#/menu" class="res-menu-item">
        <span>Thực Đơn</span>
        <div class="drop-down animated faster fadeInDown">
          <div class="drop-down-items">
            <span>Đồ Ăn</span>
            <a href=""></a>
          </div>
          <div class="drop-down-items">Đồ Uống</div>
        </div>
      </a>
      <a href="" class="res-menu-item">
        <span>Khuyến Mãi</span>
      </a>
      <a href="" class="res-menu-item">
        <span>Đặt Hàng</span>

      </a>
      <a href="" class="res-menu-item">
        <span>Chương Trình Giải trí</span>
      </a>
      <a href="" class="res-menu-item">
        <span>Liên lạc</span>
      </a>
    </div>
  </ion-row>
</div>
